.doubtBanner{
    background: #4A096D;
    position: relative;
    height: 100vh;
    width: 50%;
    text-align: center;
    color: white;
    display:flex;
    flex-direction: column;
    justify-content: center
}

.doubtBanner .bannerImg{
    position:absolute;
    bottom: 0;
    
    width: 100%;
} 
